:root {
    background-color: bisque;
    font: 1px;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.btn {
    width: 40rem;
    height: 30rem;
}